.feeds {
    padding: 10px;
    height: 100%;
    width: 100%;
    overflow-y: scroll; 

    .feed-item {
        margin-bottom: 10px;
        padding: 10px;
        background-color: $dark-2;
        border-radius: 3px;
        color: $sub-text-color-0;
        cursor: pointer;
        transition: all ease-in-out 0.2s;

        .image-container {
            
            background-color: $dark-3;
            width: 100px;
            min-height: 75px;
            float: left;

            img {
                width: 100px;
                float: left;
            }
        }

        .content-container {
            float: right;
            width: calc(100% - 120px);

            .feed-title {
                font-weight: bold;
                font-size: 1em;
                margin-bottom: 0.4em; 
                line-height: 1.4em;
            }

            .feed-content {
                line-height: 1.4em;
                font-size: 0.8em;
            }

            .feed-meta {
                margin-top: 0.8em;
                font-size: 0.7em;
            }

            img {
                display: none;
            }
        }

        &:hover {
            background-color: $dark-3;
        }
    }
}